
.rules {
    align-self: flex-start; 
    width: 100%;
    padding: 20px;
  }

.rules h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .rules ol {
    list-style-type: decimal;
    padding-left: 20px;
    text-align: left;
  }
  
  .rules li {
    font-size: 0.8rem;
    margin-bottom: 3px;
  }